set_io b1 5
set_io b2 6
set_io b3 2
set_io b4 3
set_io disp(0) 64
set_io disp(1) 62
set_io disp(2) 63
set_io disp(3) 61
set_io power(0) 60
set_io power(1) 59
set_io power(2) 57
set_io power(3) 56
set_io power(4) 55
set_io power(5) 54
